<div class="show_sec">
  <img src="<%= "/user_images/#{@user.image_name}" %>">
  <h2><%= @user.name%></h2>
  <% if @user.id == @current_user.id %>
  <%= link_to("編集", "/users/#{@current_user.id}/edit", class: 'edit') %>
  <% end %>
  <!---<div class="toggle">
    <button id="your_posts">あなたのアイデア</button>
    <button id="liked_posts">いいね</button>
    <button id="favorite">興味があること</button>
  </div>
  --->
  <div class="own_posts">
    <% @user.posts.each do |post| %>
    <div class="u_post">
    <%= link_to(post.title,"/posts/#{post.id}") %>
    </div>
    <% end %>
  </div>
</div>
