<div class="contents">
  <div id="slide">
  <a><img src="/test1.png"></a>
  <a><img src="/test2.png"></a>
  <a><img src="/test3.png"></a>
  </div>

  <h1>チャレンジする<span style="color: #ea3e63">みんな</span>を<span style="color: #61d1be">みんな</span>で応援しよう</h1>
  <div class="hot">
    <div class="container">
    <h2>Hot!</h2>
    <a href="#" class="more">もっとみる</a>
    <div class="products">
      <img src="/logo.png">
      <img src="/logo.png">
      <img src="/logo.png">
      <img src="/logo.png">
      <img src="/logo.png">
      <img src="/logo.png">
      <img src="/logo.png">
      <img src="/logo.png">
    </div>
    </div>
  </div>

  <div class="new">
    <div class="container">
    <h2>New!</h2>
    <a href="#" class="more">もっとみる</a>
    <div class="products">
      <img src="/logo.png">
      <img src="/logo.png">
      <img src="/logo.png">
      <img src="/logo.png">
      <img src="/logo.png">
      <img src="/logo.png">
      <img src="/logo.png">
      <img src="/logo.png">
    </div>
    </div>
  </div>
</div>
