<div class="contents">
    <div class="container">
    <div class="posts">
      <% @posts.each do |post| %>
      <div class="post">
        <div class="link">
          <a href="/posts/<%= post.id %>}"></a>
        </div>
        <div class="author">
          <img src="<%= "/user_images/#{post.author_id}.jpg" %>">
          <h2><%= link_to(post.author,"/users/#{post.author_id}") %></h2>
        </div>
        <p><%= post.title %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
