

//   投稿画面   //
.create_post{
  width: 600px;
  display: block;
  height: 500px;
  margin: 0 auto;
  padding-top: 100px;
}

.create_post h2{
  color: #606060;
}

.create_post input, textarea{
  width: 100%;
}

.create_post input{
  line-height: 30px;
  margin-bottom: 30px;
  border: 1px solid #606060;
}

.create_post textarea{
  height: 200px;
  border: 1px solid #606060;
}

.create_post .submit{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 30px;
  width: 50%;
  text-align: center;
}

.create_post .submit{
  border: none;
}

@media (max-width: 600px){
  .create_post h2{
    font-size: 18px;
  }

  .create_post{
    width: 80%;
  }
}

////個別のアイデア画面///
@media screen and (max-width: 600px){
  .show{
    width: 100%!important;
  }

  .title{
    font-size: 18px!important;
  }
}



.title{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
}


.background{
  padding-top: 60px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  height: 600px;
}

.back a{
  text-decoration: none;
  color: #606060;
}

.back {
  margin-top: 10px;
  text-align: center;
}
.show{
  width: 600px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 10px;
}


.show p{
font-size: 18px;
line-height: 30px;
}

.data {
  text-align: center;
  margin-top: 10px;
}

.data a{
  text-decoration: none;
  color: #606060;
  font-size: 14px;
  padding-left: 5px;
}

.data img{
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.before{
  display: flex;
}

.top-image {
  margin-top: 20px;
  text-align: center;
}



.top-image img{
  width: 600px;
  height:400px;
  border: 2px solid #ea3e63;
  border-radius: 10px;
}

@media(max-width: 600px){
  .top-image img{
    width: 300px;
    height: 200px;
  }

  .show p{
    font-size: 14px;
  }
}

.post-content{
  border-radius: 10px;
  width: 80%;
  margin-top: 10px;
  background-color: #fff;
  margin: 0 auto;
}

.post-content h2{
  color: #606060;
}

.post .detail h3{
  color: #606060;
  padding-left: 70px;
}

.post .detail p{
  padding-left: 20px;
}
///////////index////////////
.contents{
  background-color: #ffe1e0;
  padding-top:20px;
  padding-bottom:50px;
  height: 1000px;
}

.posts{
  width:600px;
  margin: 0 auto;
  background-color: #fff;
  margin-top:60px;
}

.indiv{
  width: 600px;
  background-color: #fff;
}

.post{
  border-top: 1px solid #ffe1e0;
  border-radius: 2px;
  padding-top: 20px;
  position: relative;
  margin-top: 5px;
  z-index:1;
}

.post .link a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
}

.post img {
  width: 50px;
  height:50px;
  border-radius: 25px;
  margin-left: 10px;
}

.post .author a{
  text-decoration: none;
  color: #808080;
  z-index: 100;
}

.henshu a{
  text-decoration: none;
  color: #808080;
  z-index: 100;
  margin-left: 20px;
}

.post p{
  font-size: 13px;
  margin-left: 70px;
}

.post .author h2{
  font-size: 18px;
  margin-left:10px;
}

.author {
  display: flex;
}

@media (max-width: 600px){
  .post img {
    width: 30px;
    height: 30px;
  }

  .posts {
    width: 100%;
  }
}






////　トグルセクション   ///
.toggle button{
  width: 30%;
  color: #ea3e63;
  border: solid 2px #ea3e63;
  border-radius: 5px;
  font-size: 18px;
  background-color: #fff;
}

.toggle{
  margin-top: 30px;
  margin-bottom: 30px;
}

//// いいね  ////
.done {
  color: #ea3e63;

}

.iine{
  color: #ea3e63;
}
