

/*新規会員登録*/
.create_user{
  width: 40%;
  background-color: #f8f8f8;
  margin-left: 30%;
  margin-right: 30%;
  margin-top:100px;
  padding-bottom: 30px;
  border-radius: 10px;
  height: 600px;
  text-align: center;
}

.create_user h1,p{
  color: #606060;
}

.create_user h1{
  font-size: 28px;
  padding-top: 70px;
}

.create_user p{
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.mail{
  width: 80%;
  padding: 15px 0px 15px 0;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  color: #808080;
}


.password{
  width: 80%;
  padding: 15px 0px 15px 0;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  color: #808080;
}

.name{
  width: 80%;
  padding: 15px 0 15px 0;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
  color: #808080;
}

.image {
  width: 80%;
  padding: 15px 0 15px 0;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
  color: #808080;
}

.submit{
  font-size: 18px;
  border: none;
  background-color: #ea3e63;
  color: #fff;
  padding: 5px 10px 5px 10px;
  line-height: 30px;
  width: 30%;
  margin: 20px 35% 10px 35%;
  border-radius: 10px;
}


.container{
  margin-top: 40px;
}


.square_btn_facebook{
  width: 30%;
  display: block;
  padding: 2px 30px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  transition: .4s;
  font-size: 16px;
  background-color: #486AC7;
  margin: 0 auto;
  margin-bottom: 5px;
}

.square_btn_twitter{
  width: 30%;
  display: block;
  padding: 2px 30px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  transition: .4s;
  font-size: 16px;
  background-color: #A3D3FC;
  margin: 0 auto;
  margin-top: 5px;
}

/*ログイン*/
.login{
  width: 40%;
  background-color: #f8f8f8;
  margin-left: 30%;
  margin-right: 30%;
  margin-top:100px;
  padding-bottom: 30px;
  border-radius: 10px;
  text-align: center;
}

.login h1{
  margin: 0 auto;
  padding-top: 70px;
  color: #606060;
  font-size: 28px;
}

.login p{
  margin-top: 30px;
  margin-bottom: 30px;
}

.login input{
  border: none;
}


.login button{
  background-color: #f8f8f8;
}



/*フラッシュ*/
.flash{
  width: 30%;
  margin: 0 auto;
  text-align: center;
  background-color: #ea3e63;
  color: #fff;
  padding: 20px 30px 20px 30px;
  font-size: 20px;
  border-radius: 10px;
  top: 100px;
  position: relative;
}


/*エラーメッセージ*/
.form-error p{
  font-size: 18px;
  color: #ea3e63;
  padding: 0;
}


/*show*/

.show_sec{
  padding-top:50px;
  padding-bottom: 50px;
  width: 50%;
  margin: 0 auto;
  margin-top: 200px;
  background-color: #f8f8f8;
  text-align: center;
}

.show_sec p{
  font-size: 20px;
  text-align: center;
  color: #606060;
}

.show_sec img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.edit{
  width: 30%;
  display: block;
  padding: 5px 30px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  transition: .4s;
  font-size: 16px;
  background-color: #ea3e63;
  margin: 0 auto;
  margin-top: 5px;
}

.edit_sec{
  padding-top:50px;
  padding-bottom: 50px;
  width: 50%;
  margin: 0 auto;
  margin-top: 200px;
  background-color: #f8f8f8;
  text-align: center;
}

.edit_sec p{
  font-size: 20px;
  text-align: center;
  color: #606060;
}

.save{
  width: 30%;
  display: block;
  padding: 5px 30px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  transition: .4s;
  font-size: 16px;
  background-color: #ea3e63;
  margin: 0 auto;
  margin-top: 20px;
}

.own_posts a{
  width: 30%;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #606060;
  padding-top: 70px;
}
